{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h2>Политика AML</h2>
    <hr>

    <h4>Введение</h4>
    <p>
        Наша политика проверки AML (Anti-Money Laundering) направлена на выявление транзакций, связанных с финансированием терроризма, отмыванием денежных средств и другими противозаконными деятельностями. Цель состоит в том, чтобы предотвратить легализацию незаконных денежных средств путем их перевода или инвестирования, в то время как средства были получены преступным путем.
    </p>
    <hr>

    <h4>Замораживание транзакций</h4>
    <p>
        Мы замораживаем транзакции, если они представляют риск, превышающий 60%, или если адрес связан с платформами, относящимися к категории "красного риска".
    </p>
    <hr>

    <h4>Общие положения</h4>
    <ol>
        <li>Отправитель и получатель в заявке должны быть одним и тем же лицом. Запрещены переводы в пользу третьих лиц.</li>
        <li>Персональные данные пользователя должны быть актуальными и полностью достоверными.</li>
        <li>Запрещается создание заявок через анонимные прокси-серверы или другие анонимные подключения к сети Интернет.</li>
    </ol>
    <hr>

    <h4>Процедура KYC</h4>
    <p>
        Наш обменный пункт имеет право приостановить обменную операцию для проведения процедуры KYC (Know Your Customer), которая действует в рамках стандартов борьбы с легализацией средств. Для подтверждения происхождения средств, мы просим предоставить следующую информацию:
    </p>
    <ul>
        <li>Платформа, с помощью которой средства поступили к вам.</li>
        <li>Скриншоты истории выводов кошелька/платформы отправителя, а также ссылки на обе транзакции в эксплорере.</li>
        <li>Услуга, за которую вы получили средства.</li>
        <li>Сумма, дата и время проведения транзакции.</li>
        <li>Контактное лицо, с которым вы общались с отправителем средств. Если возможно, предоставьте скриншоты переписки, подтверждающие отправку средств.</li>
    </ul>
    <hr>

    <h4>Дополнительные материалы</h4>
    <ol>
        <li>Предоставьте фото одного из документов (паспорт, ID-карта или водительское удостоверение).</li>
        <li>Сделайте селфи с этим документом и листом, на котором от руки будет написана дата и подпись.</li>
    </ol>
    <hr>

    <h4>Мониторинг транзакций</h4>
    <p>
        Мы осуществляем мониторинг транзакций пользователя и анализируем полученные данные для оценки риска и обнаружения подозрительных операций. В случае подозрений в легализации средств, мы оставляем за собой право:
    </p>
    <ul>
        <li>Сообщать о подозрительных операциях соответствующим правоохранительным органам.</li>
        <li>Запрашивать у пользователя дополнительную информацию и документы.</li>
        <li>Приостанавливать или прекращать действие учетной записи пользователя.</li>
        <li>Удерживать средства пользователя до полного расследования инцидента.</li>
        <li>Осуществлять возврат средств пользователю за вычетом 10% + комиссия сети.</li>
    </ul>
    <hr>

    <h4>Отсутствие предоставленной информации</h4>
    <p>
        Если пользователь не предоставляет запрошенную информацию и не отвечает на запросы сервиса в течение шести календарных месяцев, удержанные средства не возвращаются.
    </p>
</div>

{% endblock %}