{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="notice">
        <h2 class="text-center">Уважаемые клиенты!</h2>
        <hr>
        <p>
            Безопасность проведения транзакций может быть поставлена под угрозу, в связи с независящими от нашего сервиса обстоятельствами. 
            Чтобы этого не произошло, рекомендуем ознакомиться со следующими правилами конвертации электронной валюты:
        </p>
        <ul>
            <li>Всегда требуйте подтверждения личности лица, на реквизиты которого вы собираетесь выполнить перевод средств. Сделать это можно посредством личного звонка на skype, icq либо посредством запроса информации о статусе кошелька оппонента на сайте платежной системы;</li>
            <li>Будьте предельно внимательны при заполнении поля «Номер счета» адресата. Допустив ошибку, вы отправляете собственные средства в неизвестном направлении без возможности их возврата;</li>
            <li>Никогда не предоставляете займы, используя «безотзывные» электронные системы оплаты. В данном случае шанс столкнуться с фактом мошенничества чрезвычайно велик;</li>
            <li>Если вам предлагается сделать оплату способом, отличным от указанного в инструкции к использованию нашего сервиса, откажитесь от выполнения платежа и сообщите о случившемся нашему специалисту. То же касается выплат по заявкам, созданным не лично вами;</li>
            <li>Откажитесь от проведения средств, собственниками которых являются третьи лица, через собственные банковские счета. Известны случаи, когда проведение таких транзакций за вознаграждение, приводило к тому, что владелец счета становился соучастником финансового преступления, не подозревая о злом умысле со стороны мошенников;</li>
            <li>Всегда уточняйте у сотрудника обменного пункта информацию, приходящую на вашу почту.</li>
        </ul>
        <p>
            Наш и подобные сервисы не предоставляют займов, не берут средства у пользователей в долг или под проценты, не принимают пожертвований. При получении сообщений подозрительного характера от нашего имени с похожих на наши либо иных реквизитов, воздержитесь от выполнения указанных там требований и сообщите о произошедшем в нашу службу поддержки.
        </p>
        <hr>
        <p class="text-center font-weight-bold">С заботой о вашем финансовом благополучии.</p>
        <br>
    </div>
</div>
{% endblock %}
