{% extends "base.html" %}

{% block title %}Сброс вашего пароля{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Сброс вашего пароля</h2>
        </div>
        <div class="card-body">
            <p class="text-center">Мы отправили вам инструкции по установке нового пароля на вашу электронную почту.</p>
            <p class="text-center">Если вы не получили письмо, убедитесь, что вы ввели адрес, с которым вы зарегистрировались.</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'index' %}">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
