{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Забыли пароль?</h2>
            <p>Введите ваш адрес электронной почты, чтобы получить новый пароль.</p>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Адрес электронной почты</label>
                    <input type="email" name="email" class="form-control" id="{{ form.email.id_for_label }}">
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Отправить письмо</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
