{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Пароль установлен</h2>
        </div>
        <div class="card-body">
            <p class="text-center">Ваш пароль был установлен.
            Вы можете <a href="{% url 'login' %}">войти в систему</a> сейчас.</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'login' %}">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
