/* styles.css */

.header {
    background-color: #f8f9fa;
    padding: 20px;
}

/* Стили для выпадающего списка */
.select2-selection__rendered {
    line-height: 50px !important;
}

.select2-container .select2-selection--single {
    height: 50px !important;
    padding: 0 12px !important;
}

.select2-selection__arrow {
    height: 50px !important;
}

/* Стили для изображений в выпадающем списке */
.select2-selection__rendered img {
    height: 45px; /* измените высоту изображения, если нужно */
    margin-right: 10px;
}

/* Стили для футера */
.footer {
    background-color: #343a40; /* Цвет фона футера */
    color: #fff; /* Цвет текста футера */
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0; /* Удаляет нижний отступ абзацев в футере */
}

.info {
    color: blue;
}
.warning {
    color: orange;
}
.error {
    color: red;
}
.success {
    color: green;
}