{% extends "base.html" %}
{% load message_tags %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
    <!-- Итог взаимодействия -->  
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags|bootstrap}} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Пароль успешно изменен</h2>
        </div>
        <div class="card-body">
            <p class="text-center">Вы успешно изменили свой пароль.</p>
            <p class="text-center">Если вы не выполняли это действие, пожалуйста, свяжитесь с поддержкой.</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'index' %}">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
