{% extends "base.html" %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Пароль успешно изменен</h2>
        </div>
        <div class="card-body">
            <p class="text-center">Вы успешно изменили свой пароль.</p>
            <p class="text-center">Если вы не выполняли это действие, пожалуйста, свяжитесь с поддержкой.</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="{% url 'index' %}">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
