{% extends 'base.html' %}
{% load static %}
{% load message_tags %}

{% block content %}

    <!-- Итог взаимодействия -->  
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags|bootstrap}} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

<br>
<br>
<br>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Профиль пользователя</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Левый столбец -->
                        <div class="col-md-6 text-center">
                            <div class="m-3">
                                <strong>Изображение профиля:</strong> 
                            </div>
                            
                            {% if request.user.image %}
                                <img src="{{ request.user.image.url }}" alt="Profile image" style="max-width: 200px;">
                            {% else %}
                                <img src="{% static 'assets/images/profile/default_profile.png' %}" alt="Default Profile Image" style="max-width: 200px;">
                            {% endif %}
                            <div class="mt-3">
                                <strong>Дата регистрации:</strong> {{ request.user.date_joined }}
                            </div>
                        </div>

                        <!-- Правый столбец -->
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                {% if request.user.first_name %}
                                <li class="list-group-item">
                                    <strong>Имя:</strong> {{ request.user.first_name }}
                                </li>
                                {% endif %}
                                {% if request.user.last_name %}
                                    <li class="list-group-item">
                                        <strong>Фамилия:</strong> {{ request.user.last_name }}
                                    </li>
                                {% endif %}
                                <li class="list-group-item">
                                    <strong>Имя пользователя:</strong> {{ request.user.username }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Email:</strong> {{ request.user.email }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Завершенные обмены:</strong> {{ completed_transactions }}
                                </li>
                                <hr>                                
                            </ul>
                        </div>

                    </div>

                    <div class="text-center mt-4">
                        <a href="{% url 'update_profile' %}" class="btn btn-success">Обновить профиль</a>
                    </div>
                    <hr>
                    <div class="text-center mt-4">
                        <a href="https://t.me/Crypto_Django_bot" class="btn btn-info">Обратиться в поддержку</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
