{% extends 'base.html' %}

{% block title %} Добавить отзыв {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card w-50">
        <div class="card-header text-center">
            <h2>Добавление отзыва</h2>
            <p class="text-muted">Пожалуйста, введите свой отзыв ниже.</p>
        </div>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">
                    Пожалуйста, проверьте введенные данные.
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.text.id_for_label }}">Ваш отзыв:</label>
                    {{ form.text }}
                    {% if form.text.errors %}
                        <div class="invalid-feedback">
                            {{ form.text.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Добавить отзыв</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

